extends ./layout/principal

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros3.jpg", alt="imagen sobre nosotros", class="img-fluid shadow")
            .col-md-7.py-3
                h1.text-center Sobre Nosotros
                hr
                blockquote Somos una Agencia de Viajes comprometida con la excelencia y nos esforzamos por proporcionar un servicio excepcional y personalizado en todo momento.
                p.inicio En Travel Seek, nuestra misión es ayudar a nuestros clientes a descubrir el mundo. Creemos que los viajes son más que solo visitar lugares nuevos. Son oportunidades para experimentar nuevas culturas, descubrir nuevos sabores y conectarse con personas de todo el mundo.
                p.inicio La satisfacción del cliente es nuestra máxima prioridad. Por eso, nos comprometemos a brindar un servicio amable, profesional y confiable en todo momento.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                // SEGURIDAD
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p.inicio Nos tomamos muy en serio la seguridad de nuestros usuarios. ¡Tus datos están seguros con nosotros!
                    hr
                // PRECIOS
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p.inicio Trabajamos arduamente para garantizar que nuestros precios sean competitivos y asequibles sin comprometer la calidad.
                    hr
                // DESTINOS
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p.inicio Nos dedicamos a brindarte una experiencia de viaje inolvidable en los mejores destinos del mundo.
                    hr



//- extends ./layout/principal

//- block contenido
//-     main.container.mt-5
//-         .row
//-             .col-md-5
//-                 img(src="img/nosotros3.jpg", alt="imagen sobre nosotros", class="img-fluid sombra-imagen")
//-             .col-md-7.py-3
//-                 h1.text-center Sobre Nosotros <hr>
//-                 blockquote Somos una Agencia de Viajes comprometida con la excelencia y nos esforzamos por proporcionar un servicio excepcional y personalizado en todo momento.
//-                 p En Travel Seek nuestra misión es ayudar a nuestros clientes a descubrir el mundo, creemos que los viajes son más que solo visitar lugares nuevos. Son oportunidades para experimentar nuevas culturas, descubrir nuevos sabores y conectarse con personas de todo el mundo.
//-                 p La satisfacción del cliente es nuestra máxima prioridad. Por eso, nos comprometemos a brindar un servicio amable, profesional y confiable en todo momento.
//-                 //p  Nuestro objetivo es ayudarlo a crear recuerdos duraderos y experiencias únicas que lo enriquezcan y lo inspiren.
    
//-     .listado-iconos
//-         .container.mt-5.py-5.text-center
//-             .row
//-                 // SEGURIDAD
//-                 .col-md-4
//-                     img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
//-                     h2.mb-4 Seguridad
//-                     h5 Nos tomamos muy en serio la seguridad de nuestros usuarios, tus datos estan seguros con nosotros!
//-                     hr
//-                 // PRECIOS
//-                 .col-md-4
//-                     img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
//-                     h2.mb-4 Precios
//-                     h5 Trabajamos arduamente para garantizar que nuestros precios sean competitivos y asequibles sin comprometer la calidad
//-                     hr
//-                 // DESTINOS
//-                 .col-md-4
//-                     img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
//-                     h2.mb-4 Destinos
//-                     h5 Nos dedicamos a brindarte una experiencia de viaje inolvidable alrededor de los mejores destinos del mundo.
//-                     hr










