extends ./layout/principal

block contenido
    h1.mt-5.text-center=pagina
    //p.newviaje.text-center ¡Cada semana un viaje nuevo!
    hr
    main.container.mt-5 
        include ./layout/bloqueviajes
    